{% embed getTemplate('Ceres::Item.SingleItemWrapper') %}
  {% block PageBody %}
    {{ parent() }}
    <div id="osv-seo-data"
         data-seo-title="{{ (itemData.variation.properties|default([]) | filter(p => p.propertyId == 284 or (p.property and p.property.id == 284)) | first)?.texts.value
                           | default(itemData.variation.model)
                           | default(itemData.texts.name1) | striptags | trim }}"
         data-seo-desc="{{ (itemData.variation.properties|default([]) | filter(p => p.propertyId == 285 or (p.property and p.property.id == 285)) | first)?.texts.value
                          | default(itemData.texts.metaDescription)
                          | default(itemData.texts.shortDescription)
                          | default(itemData.texts.description | striptags) | striptags | trim }}">
    </div>
  {% endblock %}

  {% block PartialHead %}
    <meta name="x-osvcustommeta" content="wrapper-active"/>
  {% endblock %}
{% endembed %}
