{# OSV Test: Vollständiger Ersatz des Meta-Partials #}
<meta name="x-osvcustommeta" content="ACTIVE-HARD-OVERRIDE" />
<title>OSV TEST TITLE</title>
<meta name="description" content="OSV TEST DESCRIPTION" />
