{# OSVCustomMeta: Minimal PageMetaData Template #}
<title>{% block title %}{{ itemData.texts.title | default('') }}{% endblock %}</title>
<meta name="description" content="{% block description %}{{ itemData.texts.metaDescription | default('') }}{% endblock %}" />
